@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin:auto;
    margin-top: 1rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%)
}

.title h2 {
    font-size: 2rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%)
}

.title p {
    font-size: 1rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
    margin-top: 1rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 250px;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 10px 10px hsl(229, 6%, 66%);
}

#supervisor {
    margin-top: 180px;
    margin-right: 50px;
}

#calculator {
    margin-top: 180px;
    margin-left: 50px;
}

.linha-supervisor {
    position: absolute;
    width: 380px;
    height: 5px;
    background-color: hsl(180, 62%, 55%);
}

.linha-team {
    position: absolute;
    width: 380px;
    height: 5px;
    background-color: hsl(0, 78%, 62%);
}

.linha-karma {
    position: absolute;
    width: 380px;
    height: 5px;
    background-color: hsl(34, 97%, 64%);
}

.linha-calculator {
    position: absolute;
    width: 380px;
    height: 5px;
    background-color: hsl(212, 86%, 64%);
}

.card h2 {
    font-weight: 600;
    margin: 20px;
    margin-bottom: 0;
    color: hsl(234, 12%, 34%);
}

.card p {
    font-weight: 400;
    margin: 20px;
    color: hsl(229, 6%, 66%);
}

.card img {
    display: flex;
    align-items: center;
    width: 70px;
    margin-top: 20px;
    margin-left: 280px;
}

.attribution {
    margin-top: 5rem;
    font-size: 11px; 
    text-align: center; 
    color: hsl(234, 12%, 34%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 800px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }

    .coluna {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #supervisor {
        margin: auto;
        margin-top: 30px;
    }
    
    #calculator {
        margin: auto;
        margin-top: 30px;
    }

    .attribution {
        margin-top: 30px;
        margin-left: 80px;
    }
  }